.card-v {
    background: white;
    border-radius: 10px;
    height: 100%;
    width: 350px;
    padding: 20px;
}

.card-v img {
    max-width: 80%;
    height: auto;
}

.grid-v {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.flex-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}